body {
  font-family: Arial, Helvetica, sans-serif;
}

.tabs {
  display: flex;
  margin-top: 5%;
  padding-top: 15px;
  border-bottom: 1px solid lightgrey;
  background-color: aliceblue;
}

.tabs_item {
  padding: 0 35px;
  list-style: none;
}

.tabs_link {
  text-decoration: none;
  font-size: 1.5em;
  color: grey;
}

.tabs_link:hover {
  border-bottom: 2px solid grey;
}

.tabs_link.active {
  color: rgb(82, 136, 206);
  border-bottom: 2px solid rgb(82, 136, 206);
}

.tabs_panel.active {
  display: block;
}

.tabs_panel {
  display: none;
  margin: 30px 0 0 30px;
}

.tabs_panel-title {
  font-size: 1.1em;
  font-weight: bold;
}

hr {
  display: none;
}